<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <h4 id="my-status"><%=Status%><h4>
        
    <h3>J-AJAX GET</h3>
    用户名<input type="text" id="user1"> <br>
    密码<input type="password" id="pass1"> <br>
    <input type="button" id="btn1" value="提交">

    <h3>J-AJAX POST</h3>
    用户名<input type="text" id="user2"> <br>
    密码<input type="password" id="pass2"> <br>
    <input type="button" id="btn2" value="提交">

    <h3>J-AJAX File</h3>
    <input type="file" name="file" id="file1"> <br>
    <input type="button" value="提交" id="btn3">

    <input type="button" value="batch" id="batch">

</body>
<script src="js/my-ajax.js" charset="utf-8"></script>
</html>