doctype
html
    head    
        title 搜狐
        meta(name="Keywords" content="搜狐")
    body
        div
            ul#ul1.box(title="aaa" )
                li 内容
                li=a+b
                - let c =10;
                - let d = 11;
                - let e = 11;
                li=c+d+e
